body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: #39ff14;
  }
  #header {
    font-size: 48px;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  #counter {
    font-size: 72px;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  #buttons {
    display: flex;
    gap: 20px;
  }
  #increment, #decrement {
    font-size: 36px;
    padding: 10px 20px;
    background-color: #39ff14;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    outline: none;
  }
  #timer {
    font-size: 36px;
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  h2{
    color: red;
    margin: 0px;
  }